# Fichier de configuration générique (à adapter au projet)
dataset:
  name: imagenet                # ex: "CIFAR10", "IMDB", ...
  root: "zh-plus/tiny-imagenet"            # chemin local pour les données
  split:                    # optionnel : noms/tailles de splits
    train:
      p: 0.9
      chemin: csc8607_projects/data/preprocessed_dataset_train.pt
    val: 
      p: 0
      chemin: csc8607_projects/data/preprocessed_dataset_valid.pt
    test: 
      p: 0.1
      chemin: csc8607_projects/data/preprocessed_dataset_test.pt
  download: true            # si supporté
  num_workers: 8
  shuffle: true
  columns:
    label: label
    image : image

preprocess:
  # transformations de base (ex: resize, normalize)
  resize: null                   # ex: [32, 32] ou null
  normalize: True
  text_tokenizer: null         # pour NLP : nom ou paramètres, sinon null

augment:
  # data augmentation (laisser null si non utilisée)
  random_flip: true
  random_crop:  
    size: [64, 64]
    scale: [0.8,1.0]
    ratio: [1.0,1.0]
  color_jitter:
    brightness: 0.2
    contrast: 0.2
    saturation: 0.2
    hue: 0.2

model:
  type: Convolutional Neural Network - Residual Network                # ex: "resnet18", "mlp", "lstm", ...
  num_classes: 200
  input_shape: [32,3,64,64]             # ex: [3, 32, 32] ou null
  hidden_sizes: [64,64,128,256,200]          # ex: [256, 128] ou null
  residual_blocks : [3,3,3]
  activation: leaky_relu          # ex: relu, gelu, elu, selu, leaky relu
  dropout: 0.3              # ex: 0.0–0.5
  batch_norm: True         # true/false
  residual: False           # true/false
  # attention: True          # true/false

train:
  seed: 42
  device: cuda              # "cpu", "cuda", ou "auto"
  batch_size: 32
  epochs: 10
  max_steps: null           # entier ou null
  overfit_small: false      # true pour sur-apprendre sur un petit échantillon

  optimizer:
    name: adam              # sgd/adam/rmsprop
    lr: 0.001
    weight_decay: 0.0
    momentum: 0.9           # utile si SGD

  scheduler:
    name: none              # none/step/cosine/onecycle
    step_size: 10
    gamma: 0.1
    warmup_steps: 0

metrics:
  classification:           # ex: ["accuracy", "f1"]
    - accuracy
  regression: []            # ex: ["mae", "rmse"]

hparams:                    # espace pour mini grid search
  lr: [0.0005, 0.001, 0.005]
  batch_size: [32, 64]
  weight_decay: [0.0, 0.0005]

paths:
  runs_dir: "./runs"
  artifacts_dir: "./artifacts"